$container-width: 800px;
$container-margin: 10px;
$container-backgraund: #00b0b3;
$list-color: rgba(100,200,200,0.5);
$title-font: 45px Tahoma;
$paragraph-size: 13px Arial;
$title-color: rgb(182, 17, 17);
$subtitle-font: 34px Helvetica;
$subtitle-color: #0a07f7 ;
$color-opacidad: rgba(#0A0A4D , .5);
$color-hover: #8a7dff ;
$verdoso: #464647 ;
$sumar1: red;
$sumar2: blue;
