
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}



.fondo2{/*cambiar fondo por seccion*/
  background-image: url("fondoRosa.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;

}
.name__margin{
  margin-top: 50%;
}

.borde{
  text-align: center;
  border: 8px double #d0d0d0;
  padding: 20px;
}
section{
  height: 87vh;
  margin: 10px;
}

h1,h2{
  color: #d0d0d0;
}




#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

#wrapper.cambiado {
  padding-left: 220px;
}

#icono-navegacion {
  left: 220px;
  width: 0;/*para que no aparesca a simple vista*/
  height: 100%;
  margin-left: -220px;/*para recorrer al lado derecho*/
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  transition: all 0.80s ease;
}

#wrapper.cambiado #icono-navegacion {
  width: 210px;/*ancho de nav*/
}

#contenido-pagina {
  max-width: 100%;
  padding-top: 50px;
}

#wrapper.cambiado #contenido-pagina{
  position: absolute;
  margin-right: -210px;
}

/*  estilos del navegador        */

.sidebar-nav{
  position: absolute;
  top: 0;
  width: 210px;
  margin: 0;
  padding: 20px;
  list-style: none;

  li {
    position: relative;
    line-height: 50px;
    display: inline-block;
    width: 100%;
  }
  li:hover:before{
    width: 100%;
    transition: width .2s ease-in;
  }
  a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
  }
}

.sidebar-nav li:before {
  content: '';/*se pondra el contenido generado antes y despues*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  transition: width .2s ease-in;
}

.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #279636;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav{
  .sidebar-brand {/*para el titulo*/
    height: 65px;
    font-size: 20px;
    line-height: 44px;
  }
}

/*  Hamburger-Cross */

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  margin-left: 15px;
}
.iconos{
  width: 10vh;
}

/*  Overlay   */

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(250,250,250,.8);
  z-index: 1;/*orden de apilamiento*/
}


@import 'jquery';
